*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
body{
    font-family: 'Helvetica Neue',Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearFix{
    position: relative;
}
.clearFix::after{
    content: '';
    display: block;
    clear: both;
    zoom: 1;
    overflow: hidden;
}
.active{
    color: #31C27C !important;
}